<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
    <head>
        <title>Home</title>
    </head>
    <body>
        <div id="content">
            <h1>Welcome to home page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ipsum sed repudiandae ut nemo dignissimos sint aliquam ad officia unde eveniet quasi delectus in deserunt, laborum soluta odit consequatur quisquam corrupti quidem minus voluptatum alias? Ullam porro veritatis qui veniam facilis, incidunt iste quisquam sequi doloremque officia nihil sit aut.</p>
        </div>
        <script></script>
    </body>
</html>